In [1]:
import numpy as np
from scipy.spatial.distance import cosine, euclidean
from scipy.stats import pearsonr

In [2]:
user1=np.array([4,5,2,3,4])
user2=np.array([5,3,2,4,5])

In [4]:
cosine_similarity = 1-cosine(user1,user2)
print(f"Cosine Similarity: {cosine_similarity:.4f}")

Cosine Similarity: 0.9548

In [6]:
pearson_corr,_=pearsonr(user1,user2)
print(f"Pearson correlation similarity:{pearson_corr:.4f}")
print(_)

Pearson correlation similarity:0.4372
0.46157742986892275

In [7]:
euclidean_distance=euclidean(user1,user2)
euclidean_similarity=1/(1+euclidean_distance)
print(f"Euclidean Distance Similarity:{euclidean_similarity:.4f}")

Euclidean Distance Similarity:0.2743

In [15]:
import pandas as pd
ratings = np.array([
    [5, 3, 4, 4, 2],  # User A
    [3, 1, 2, 3, 3],  # User B
    [4, 3, 4, 5, 1],  # User C
    [2, 2, 1, 2, 4]   # User D
])
users = ["Raju", "John", "Ramya", "Kishore"]
df=pd.DataFrame(ratings,index=users,columns=["Bahubali","Mufasa","Interstellar","RRR","Mrs"])
df

         Bahubali  Mufasa  Interstellar  RRR  Mrs
Raju            5       3             4    4    2
John            3       1             2    3    3
Ramya           4       3             4    5    1
Kishore         2       2             1    2    4

In [10]:
Raju=np.array([5,3,4,4,2])
John=np.array([3,1,2,3,3])
Ramya=np.array([4,3,4,5,1])
Kishore=np.array([2,2,1,2,4])

In [11]:
cosine_similarity = 1-cosine(Raju,John)
print(f"Cosine Similarity: {cosine_similarity:.4f}")

Cosine Similarity: 0.9297

In [12]:
cosine_similarity = 1-cosine(Raju,Ramya)
print(f"Cosine Similarity: {cosine_similarity:.4f}")

Cosine Similarity: 0.9783

In [13]:
cosine_similarity = 1-cosine(Raju,Kishore)
print(f"Cosine Similarity: {cosine_similarity:.4f}")

Cosine Similarity: 0.7990